<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home/customers/pending">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">RAVEN</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home/customers/pending">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Pending approve</span>
            </a>
            <a class="nav-link" routerLink="/home/customers/all">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Customers</span>
            </a>
        </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="dropdown-item" href="" data-toggle="modal" (click)="logout()">
                            <i></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
